body {
    background-color: #009EDB;
    height: 100%;
    overflow-y: hidden;

}

button {
    width: 10rem;
    height: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 32px;
    height: 32px;
}
